@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

#header {
  margin: 0;
}

#logo-container {
/*   position: fixed; */
  left: 5px;
  padding: 0;
  align-content: center;
  line-height: 40px;
  margin-right: auto;
}

#logo {
  height: 30px;
  vertical-align: middle;
}

#header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#header div:not(.search):not(#logo-container) {
  display: inline-block;
}

#header > div:not(.search) {
  padding: .5rem 1em;
}

#header {
  background-color: #233d4d;
  color: #63FFBF;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
    
}

#searchbox input[type='text'] {
  border-radius: .7em;
  margin: .5rem 0 .5rem .5rem;
  padding: 0 1rem;
}

#searchbox {
  margin: 0 0 0 1rem;
}

.headerbutton {
  color: #cdcdcd;
  background-color: #233D4D;
}

