<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/top::head">
</head>
  <body>
  <nav class="top" th:insert="/top::topnav"></nav>
  <div class="main" th:object="${post}">
    <h1 th:if="*{board eq null}" class="warning" th:text="해당 게시글이 존재하지 않아요!"></h1>
      <button th:if="${post.board eq null}" onclick="history.back(-1);" class="button">뒤로 가기</button> 
    <div th:unless="${post.board eq null}"><div class="title"><h1 th:text="|${post.id}번 게시글|"></h1></div>
    <form>
      <table th:object="${post}">
        <tr>
          <th style="width:10%">게시판</th>
          <td> <select name="board" >
            <option value="" disabled='disabled'>게시판을 선택하세요</option>
            <option th:each='board: ${boards}' th:value='${board.id}'
              th:selected="${board.id eq id}" class="selectable"
              th:text='${board.title}'>
            </option>
            </select>
        </tr>
        <tr>  
          <th>글 번호</th>
          <td> <input type="text" name="id" th:value='*{id}' readonly> </td>
        </tr>
        <tr>
          <th>글 제목</th>
          <td> <input type="text" name="title" class='editable' th:value='*{title}' readonly></td>
        </tr>
        <tr>
          <th>작성자</th>
          <td> <input type="hidden" name="user" class='editable' th:value="${post.user.id}" readonly>
          <span th:text='${post.user.name}'></span></td>
        </tr>
        <tr>
          <th>조회수</th>
          <td> <input type="text" th:value='*{hit}' readonly></td>
        </tr>
        <tr>
          <th>작성일</th>
          <td>
            <span th:text='*{#temporals.format(createdDate,"yyyy-MM-dd HH:mm")}'></span>
            <span th:if="*{modifiedDate > createdDate}" 
            th:text="|(수정: *{#temporals.format(modifiedDate,'yyyy-MM-dd HH:mm')})|">
            </span>
          </td>
        </tr>
        <tr style="vertical-align: top">
          <th>내용</th>
          <td height="auto"> <textarea name="content" class='editable' readonly th:text="${post.content}"></textarea></td>
        </tr>
      </table>
      <input type="button" class="button" th:onClick="'location.href=\''+@{/board(id=${post.board.id})}+'\''" value="목록">
      <input type="button" class="button" onClick='editable(this);' value="수정" th:disabled="${user==null or user.id != post.user.id}">
      <button type="submit" class="button" id="save" formmethod="post" th:formaction="@{/post/edit}" style="display:none">저장</button>
      <button type="submit" class="button" id="delete" formmethod="post" th:formaction="@{/post/delete}" style="display:none">삭제</button>
    </form>
      
    <h3>댓글<span th:text="|(${post.commentSize})|"></span></h3>
      <div class=comments style="width:800px">
      <dl class=exist th:object="${comments}">
      <dt>등록된 댓글</dt>
        <dd th:if="*{#strings.isEmpty(content)}">등록된 댓글이 없어요! 이 글에 첫번째 댓글을 달아보세요.</dd> 
        <dd th:each="comment: *{content}">
          <div style="margin: 1em;">
            <div style="display: inline-block" th:text="${comment.user.name}"></div>
            <div th:unless="${comment.modifiedDate ne comment.createdDate}" 
            style="display: inline-block" th:text="|(${#temporals.format(comment.createdDate,'yyyy-MM-dd HH:mm')})|"></div>
            <div th:if="${comment.modifiedDate ne comment.createdDate}" 
            style="display: inline-block" th:text="|(${comment.createdDate}, 수정: ${comment.modifiedDate})|"></div>
            <div th:text="${comment.content}"></div>
          </div>
        </dd>
      </dl>
    <form>
      <div class="new">
      <dl>
        <dt>새 댓글 등록</dt>
        <dd>
            <div> 
            <input th:if='${user != null}' type="hidden" name="user" required th:value="${user.id}">
            <span th:if='${user != null}' th:text="${user.name}"> </span>
            <input th:unless='${user != null}' placeholder="회원만 댓글을 작성할 수 있습니다. 지금 가입하세요!" readonly>
            <input type="hidden" name="board" th:value="${post.board.id}">
            <input type="hidden" name="parentId" th:value="${post.id}">
            </div>
            <div><span th:text="${#dates.format(#dates.createNow(),'yyyy-MM-dd HH:mm')}"></span></div>
            <div> 
            <textarea name='content' cols=auto rows=auto wrap="hard" required placeholder="댓글 내용을 입력해 주세요"></textarea> 
            </div>
        </dd>
      </dl>
          <input type="reset" class="button">
          <input type="submit" class="button" value="댓글쓰기" th:formaction="@{/post/writer}" formmethod="post"></input>
      </div>
      </form>
      </div>
    </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"></script>
    <script type="text/javascript">
  	function editable(btn) {
        $('.editable').removeAttr('readonly');
        $('.selectable').removeAttr('disabled');
        $('#save').show();
        $('#delete').show();
        $(btn).attr('disabled', true);
	}
    </script>
  </body>
</html>