<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
  <meta charset="UTF-8">
  <link th:href="@{/top.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/post.css}" rel="stylesheet" type="text/css">
  <title th:text="|Herstories::${title}|"></title>
</head>
<body>
  <div th:fragment="topnav" id="header" style="display: flex">
    <div id="logo" th:onClick="location.href='/'"
      style="font-family: 'Fredericka the Great', cursive;"
    >Herstories</div>
    <div class="search">
      <form>
        <div id="searchbox">
          <input type="text" name="keywords" placeholder="여기에서 검색하세요" style="width: 80%" required>
        </div>
        <div id="searchbutton">
          <input type="submit" class="headerbutton" formaction="search" value="검색">
        </div>
      </form>
    </div>
    <div id='sign'>
      <div th:onClick="'location.href=\''+@{''}+'\''">로그인</div>
      <div th:onClick="'location.href=\''+@{''}+'\''">회원가입</div>
    </div>
  </div>
</body>
</html>