@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
  body {
  color: rgb(35, 30, 35);
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0 0 0 20%;
  }

  tr,
  td,
  th {
    border: 1px solid rgb(52, 58, 64);
    padding: 5px 15px 5px 15px;
  }
  
  th {
    background-color: rgb(57, 166, 163);
    color: rgb(222, 238, 234);
  }

  table, h3 {
    border-collapse: collapse;  
    margin: 10px 0 10px;
    width: 800px;
  }
  
  p {
    text-align: center;
  }
  
  input:not([type='submit']),
  textarea, 
  select {
    width: 100%;
    height: 100%;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
  }
  
  input:not([type='submit']):focus,
  textarea:focus, 
  select {
    outline: none;
  }
  

  tr.post:hover {
    cursor: pointer;
  }
    
  .sep {
    text-align: center;
    border-left: none;
    border-right: none;
    font-family: bold;
   }
   
   :root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
  }

  button,
  input[type='submit'] {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     
    background: rgb(191, 19, 99);
    color: rgb(222, 238, 234);
     
    margin: 0;
	padding: 0.3rem 1rem;
	 
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	
	border: none;
	border-radius: 4px;
	 
	display: inline-block;
	width: auto;
	 
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	 
	cursor: pointer;
	 
	transition: 0.5s;
	--button-color: #212529;
	--button-bg-color: rgb(191, 19, 99);
	--button-hover-bg-color: #e0a800;
  }
  
  .search {
    display: inline-block;
  }
  